USE [master]
GO
/****** Object:  Database [bd_ferroVelho]    Script Date: 25/04/2026 09:39:51 ******/
CREATE DATABASE [bd_ferroVelho]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bd_ferroVelho', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bd_ferroVelho.mdf' , SIZE = 18432KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'bd_ferroVelho_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bd_ferroVelho_log.ldf' , SIZE = 20096KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bd_ferroVelho].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bd_ferroVelho]
GO
/****** Object:  User [ramalho]    Script Date: 25/04/2026 09:39:51 ******/
CREATE USER [ramalho] FOR LOGIN [ramalho] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ramalho]
GO
/****** Object:  Table [dbo].[tb_aCliente]    Script Date: 25/04/2026 09:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_aCliente](
	[Id_aCliente] [int] IDENTITY(1,1) NOT NULL,
	[data__aCliente] [datetime] NOT NULL,
	[valor_aCliente] [decimal](18, 2) NOT NULL,
	[usuario] [int] NOT NULL,
	[desc_aCliente] [varchar](100) NULL,
	[id_cliente] [int] NOT NULL,
 CONSTRAINT [PK_tb_aCliente] PRIMARY KEY CLUSTERED 
(
	[Id_aCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_caixa]    Script Date: 25/04/2026 09:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_caixa](
	[Id_caixa] [int] IDENTITY(1,1) NOT NULL,
	[data_caixa] [datetime] NOT NULL,
	[valor_caixa] [decimal](18, 2) NOT NULL,
	[usuario] [int] NOT NULL,
	[desc_caixa] [varchar](100) NULL,
	[id_cliente] [int] NULL,
 CONSTRAINT [PK_tb_caixa] PRIMARY KEY CLUSTERED 
(
	[Id_caixa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_cliente]    Script Date: 25/04/2026 09:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cliente](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[cpf_cliente] [varchar](20) NULL,
	[nome_cliente] [varchar](100) NOT NULL,
	[tel_cliente] [varchar](11) NULL,
 CONSTRAINT [PK_tb_cliente] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_compra]    Script Date: 25/04/2026 09:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_compra](
	[id_compra] [int] IDENTITY(1,1) NOT NULL,
	[data_compra] [datetime] NOT NULL,
	[valor_nota] [decimal](18, 2) NULL,
	[usuario] [int] NULL,
	[desconto_compra] [decimal](18, 2) NULL,
	[subtot_compra] [decimal](18, 2) NULL,
	[id_cliente] [int] NULL,
 CONSTRAINT [PK_tb_venda] PRIMARY KEY CLUSTERED 
(
	[id_compra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_impressora]    Script Date: 25/04/2026 09:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_impressora](
	[id_impressora] [int] IDENTITY(1,1) NOT NULL,
	[nome_impressora] [varchar](100) NULL,
 CONSTRAINT [PK_Impressoras] PRIMARY KEY CLUSTERED 
(
	[id_impressora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_itemc]    Script Date: 25/04/2026 09:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_itemc](
	[id_item] [int] IDENTITY(1,1) NOT NULL,
	[id_prod] [int] NOT NULL,
	[id_compra] [int] NOT NULL,
	[quant_item] [decimal](18, 3) NOT NULL,
	[subTot_item] [decimal](18, 3) NOT NULL,
	[valor_item] [decimal](18, 3) NOT NULL,
 CONSTRAINT [PK_tb_itemsc] PRIMARY KEY CLUSTERED 
(
	[id_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_itemv]    Script Date: 25/04/2026 09:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_itemv](
	[id_item] [int] IDENTITY(1,1) NOT NULL,
	[id_prod] [int] NULL,
	[id_venda] [int] NULL,
	[quant_item] [decimal](18, 3) NULL,
	[subTot_item] [decimal](18, 2) NULL,
	[valr_item] [decimal](18, 2) NULL,
 CONSTRAINT [PK_tb_itemv] PRIMARY KEY CLUSTERED 
(
	[id_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_produtos]    Script Date: 25/04/2026 09:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_produtos](
	[id_prod] [int] IDENTITY(1,1) NOT NULL,
	[desc_prod] [varchar](100) NULL,
	[val_prod] [decimal](18, 2) NULL,
	[usuario] [int] NULL,
 CONSTRAINT [PK_tb_produtos] PRIMARY KEY CLUSTERED 
(
	[id_prod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_tipoUsuario]    Script Date: 25/04/2026 09:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_tipoUsuario](
	[id_tipoUsuario] [int] IDENTITY(1,1) NOT NULL,
	[desc_tipoUsuario] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tb_tipoUsuario] PRIMARY KEY CLUSTERED 
(
	[id_tipoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_usuario]    Script Date: 25/04/2026 09:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nome_usuario] [varchar](50) NOT NULL,
	[senha_usuario] [varchar](50) NULL,
	[permi_usuario] [int] NOT NULL,
	[ativo] [bit] NOT NULL,
 CONSTRAINT [PK_tb_usuario] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_venda]    Script Date: 25/04/2026 09:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_venda](
	[id_venda] [int] IDENTITY(1,1) NOT NULL,
	[data_venda] [datetime] NOT NULL,
	[valor_nota] [decimal](18, 2) NOT NULL,
	[usuario] [int] NULL,
 CONSTRAINT [PK_tb_vendas] PRIMARY KEY CLUSTERED 
(
	[id_venda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_usuario] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[tb_aCliente]  WITH CHECK ADD  CONSTRAINT [FK_tb_aCliente_tb_aCliente] FOREIGN KEY([usuario])
REFERENCES [dbo].[tb_usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[tb_aCliente] CHECK CONSTRAINT [FK_tb_aCliente_tb_aCliente]
GO
ALTER TABLE [dbo].[tb_aCliente]  WITH CHECK ADD  CONSTRAINT [FK_tb_aCliente_tb_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[tb_cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[tb_aCliente] CHECK CONSTRAINT [FK_tb_aCliente_tb_cliente]
GO
ALTER TABLE [dbo].[tb_caixa]  WITH CHECK ADD  CONSTRAINT [FK_tb_caixa_tb_usuario] FOREIGN KEY([usuario])
REFERENCES [dbo].[tb_usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[tb_caixa] CHECK CONSTRAINT [FK_tb_caixa_tb_usuario]
GO
ALTER TABLE [dbo].[tb_caixa]  WITH CHECK ADD  CONSTRAINT [tb_caixa_tb_cliente_FK] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[tb_cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[tb_caixa] CHECK CONSTRAINT [tb_caixa_tb_cliente_FK]
GO
ALTER TABLE [dbo].[tb_itemc]  WITH CHECK ADD  CONSTRAINT [FK_tb_itemsc_tb_compra] FOREIGN KEY([id_compra])
REFERENCES [dbo].[tb_compra] ([id_compra])
GO
ALTER TABLE [dbo].[tb_itemc] CHECK CONSTRAINT [FK_tb_itemsc_tb_compra]
GO
ALTER TABLE [dbo].[tb_itemc]  WITH CHECK ADD  CONSTRAINT [FK_tb_itemsc_tb_produtos] FOREIGN KEY([id_prod])
REFERENCES [dbo].[tb_produtos] ([id_prod])
GO
ALTER TABLE [dbo].[tb_itemc] CHECK CONSTRAINT [FK_tb_itemsc_tb_produtos]
GO
ALTER TABLE [dbo].[tb_itemv]  WITH CHECK ADD  CONSTRAINT [FK_tb_itemv_tb_produtos] FOREIGN KEY([id_prod])
REFERENCES [dbo].[tb_produtos] ([id_prod])
GO
ALTER TABLE [dbo].[tb_itemv] CHECK CONSTRAINT [FK_tb_itemv_tb_produtos]
GO
ALTER TABLE [dbo].[tb_itemv]  WITH CHECK ADD  CONSTRAINT [FK_tb_itemv_tb_venda] FOREIGN KEY([id_venda])
REFERENCES [dbo].[tb_venda] ([id_venda])
GO
ALTER TABLE [dbo].[tb_itemv] CHECK CONSTRAINT [FK_tb_itemv_tb_venda]
GO
ALTER TABLE [dbo].[tb_usuario]  WITH CHECK ADD  CONSTRAINT [FK_tb_usuario_tb_tipoUsuario] FOREIGN KEY([permi_usuario])
REFERENCES [dbo].[tb_tipoUsuario] ([id_tipoUsuario])
GO
ALTER TABLE [dbo].[tb_usuario] CHECK CONSTRAINT [FK_tb_usuario_tb_tipoUsuario]
GO
ALTER TABLE [dbo].[tb_venda]  WITH CHECK ADD  CONSTRAINT [FK_tb_venda_tb_usuario] FOREIGN KEY([usuario])
REFERENCES [dbo].[tb_usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[tb_venda] CHECK CONSTRAINT [FK_tb_venda_tb_usuario]
GO
/****** Object:  StoredProcedure [dbo].[s_tb_estoque]    Script Date: 25/04/2026 09:39:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[s_tb_estoque] 
(
	@dataInicial DATETIME,
	@dataFinal DATETIME,
	@id_prod INT = null
)
AS

SELECT Estoque.id_prod as Codigo,
       UPPER(TP.desc_prod) as Descrição, 
	   SUM(inicio) as Inicio, 
	   SUM(entrada) as Entrada, 
	   SUM(saida) as Saida, 
	   (SUM(inicio) + SUM(entrada) - SUM(saida)) as Saldo
FROM(
	-- inicial
	select  id_prod, SUM(inicio) as inicio, 0 as entrada, 0 as saida
	from (
		SELECT id_prod, SUM(quant_item) as inicio
		FROM tb_itemc TIC
		INNER JOIN tb_compra TC on TC.id_compra = TIC.id_compra
		WHERE  TC.data_compra < @dataInicial
		GROUP BY id_prod

		UNION ALL

		SELECT id_prod, -sum(quant_item) AS inicio
		FROM tb_itemV TIV
		INNER JOIN tb_venda TV on TV.id_venda = TIV.id_venda 
		WHERE TV.data_venda < @dataInicial
		GROUP BY id_prod

		) as Inicio
	GROUP BY id_prod
	UNION ALL
	-- Entrada
	SELECT id_prod, 0 as Inicio, SUM(quant_item) as entrada , 0 as saida
	FROM tb_itemc TIC
	INNER JOIN tb_compra TC on TC.id_compra = TIC.id_compra
	WHERE TC.data_compra between @dataInicial and @dataFinal 
	GROUP BY id_prod
	UNION ALL
	-- Saida
	SELECT id_prod, 0 as Inicio, 0 as entrada, sum(quant_item) AS saida
	FROM tb_itemV TIV
	INNER JOIN tb_venda TV on TV.id_venda = TIV.id_venda 
	WHERE TV.data_venda between @dataInicial and @dataFinal 
	GROUP BY id_prod
) AS Estoque
INNER JOIN tb_produtos TP ON TP.id_prod = estoque.id_prod
WHERE @id_prod IS NULL OR Estoque.id_prod = @id_prod
GROUP BY TP.desc_prod,  Estoque.id_prod
ORDER BY Estoque.id_prod
GO
USE [master]
GO
