<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FerroVelhoDAO.Properties.Settings.bd_ferroVelhoConnectionString" connectionString="Data Source=DANILO\SQLEXPRESS;Initial Catalog=bd_ferroVelho;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="FerroVelhoDAO.Properties.Settings.bd_ferroVelhoConnectionString1" connectionString="Data Source=DANILO;Initial Catalog=bd_ferroVelho;User ID=ramalho;Password=16zero51990" providerName="System.Data.SqlClient"/>
        <add name="FerroVelhoDAO.Properties.Settings.bd_ferroVelhoConnectionString2" connectionString="Data Source=FERROVELHO-PC\SQLEXPRESS;Initial Catalog=bd_ferroVelho;User ID=ramalho;Password=16zero51990" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
