<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FerroVelhoDAL.Properties.Settings.ferrovelhoConnectionString"
            connectionString="Data Source=ferrovelho.mssql.somee.com;Initial Catalog=ferrovelho;User ID=raulrn_SQLLogin_1"
            providerName="System.Data.SqlClient" />
        <add name="FerroVelhoDAL.Properties.Settings.ferrovelhoConnectionString1"
            connectionString="Data Source=ferrovelho.mssql.somee.com;Initial Catalog=ferrovelho;User ID=raulrn_SQLLogin_1;Password=7ir1nyguhw"
            providerName="System.Data.SqlClient" />
        <add name="FerroVelhoDAL.Properties.Settings.ferrovelhoConnectionString2"
            connectionString="Data Source=DANILO\SQLEXPRESS;Initial Catalog=ferrovelho;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>